{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link  rel="stylesheet" href="{% static 'login.css' %}">
    <script src="https://kit.fontawesome.com/02dddd40d0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="logo">
        <i class="fa-solid fa-graduation-cap"></i>
        <h1>Edulinker</h1>
       </div>
        <div class="navlinks">
            <ul>
                <li>Home</li>
                <li>About Us</li>
            </ul>
        </div>
    </nav>
    
    
    
    <div class="login-container">
		<div class="login-form-container">
			<h1>Login</h1>
			<form method="POST">
                {% csrf_token %}
				<div class="input-container">
					<i class="fas fa-user"></i>
					<input type="text" id="rollno" name="roll" placeholder="Roll Number" required>
				</div>
				<div class="input-container">
					<i class="fas fa-lock"></i>
					<input type="password" id="password" name="password" placeholder="Password" required>
				</div>
				<input type="submit" value="Login">
                                
                                <div class="reg-link">
                                    <i>New User?</i><a href="{%url 'parentreg'%}" id="reg-now">Register Now</a>
                                </div>
			</form>
		</div>
	</div>
</body>
</html>
