{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Parent Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'homestyle.css' %}">
    <script src="https://kit.fontawesome.com/02dddd40d0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
        <div class="logo">
        <i class="fa-solid fa-graduation-cap"></i>
        <h1>Edulinker</h1>
       </div>
        <div class="navlinks">
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>View Attendance </li>
                <li>View Result </li>
                <li>Query </li>

            </ul>
        </div>
        
    </nav>
        
       
        
        
        
        
        <div class="teacherimg" >
            <img src="./images/Parent.svg">
        </div>
    </body>
</html>
