{% load static %}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Teacher-Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'teacherhome.css'%}">
    <script src="https://kit.fontawesome.com/02dddd40d0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
        <div class="logo">
        <i class="fa-solid fa-graduation-cap"></i>
        <h1>Edulinker</h1>
       </div>
        <div class="navlinks">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'aboutus' %}">About Us</a></li>
                <li><a href="{% url 'updateattendance' %}">Update Attendance</a></li>
                <li><a href="{% url 'updatetestresult' %}">Update Result</a> </li>
                <li><a href="{% url 'message' %}">Query</a> </li>


            </ul>
        </div>
        
    </nav>
        
    <div class="uname-container">
        <div class="uname-row">
          <div class="col-md-12 text-center">
            <h3 class="animate-charcter"> Welcome, {{ tname }}</h3>
          </div>
        </div>
      </div>
        
        
        
        
        <div class="teacherimg" >
            <img src="{% static '/images/Teacher.svg'%}">
        </div>
    </body>
</html>