{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>View-TestResult</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'homestyle.css' %}">
    <script src="https://kit.fontawesome.com/02dddd40d0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
        <div class="logo">
        <i class="fa-solid fa-graduation-cap"></i>
        <h1>Edulinker</h1>
       </div>
        <div class="navlinks">
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>View Attendance </li>
                <li>View Result </li>
                <li>Query </li>

            </ul>
        </div>
        
    </nav>
    <div class="test-content">
    <div class="student-attendetails">    
       
       <h3><i>Name: {{ name }}</i></h3>
    </div>
        
    <table border="1">
        <tr>
          <th>Test Date</th>
          <th>Subject</th>
          <th>Topic</th>
          <th>Secured Score</th>
          <th>Total Score</th>
          
        </tr>
        
        {% for i in t %}
        <tr>
          <td>{{ i.tDate }}</td>
          <td>{{ i.subject }}</td>
          <td>{{ i.topic }}</td>
          <td>{{ i.score }}</td>
          <td>{{ i.total }}</td>
        </tr>
        {% endfor %} 
   

        </table>
    </div>
        
        
        
        
        
    </body>
</html>
